body {
  background-color: #9198e5;
}

.name {
  text-align: center;
  padding: 10px;
  color : navy;
}

.link {
	text-align: center;
	font-style: italic;
    font-weight: bold;
}

.im {
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	border-radius: 50%;
	height: 500px;
}