<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/web.css">
    <meta charset="UTF-8">
    <title>Internship Proj Bakr Ouairem</title>
</head>
<body>
    <h1 class="name">
        Hello {{name}} ! 
    </h1>
    
    <p class="link">
        Here is the link to the <a href="{{link}}">scientific kit</a>: 
    </p>
    <img class="im" src="{{ user_image }}" alt="User Image">
</body>
</html>